.ccm-calc {
    text-align: center;
}

.ccm-calc > .main > #result {
    background-color: gray;
    height: 60px;
    width: 400px;
    margin: auto;
    border-radius: 2px;
    font-size: 30px;
    color: white;
    display: block;
    outline: none;
    overflow: hidden;
    letter-spacing: 2px;
    padding-top: 30px;
    text-align: right;

}

.ccm-calc > .main > #result_right {
    background-color: lightgray;
    text-align: center;
    height: 480px;
    width: 400px;
    position: fixed;
    top: 100px;
    right: -30%;
    border: 3px solid #73AD21;
    z-index: 100;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}

.ccm-calc > .main > #result_right > #result_right_1 {
    border-bottom: 4px dashed black;
    padding: 6px;

}

.ccm-calc > .main > #result_right > #result_right_2 {
    padding: 6px;

}

.ccm-calc > .main > #results_right_menu {
    background-color: lightgray;
    text-align: center;
    height: 30px;
    width: 400px;
    position: fixed;
    top: 320px;
    right: -185px;
    border: 3px solid #73AD21;
    z-index: 2;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.ccm-calc > .main > div > button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 2px;
    background-color: bisque;
    border-radius: 6px;

}

.ccm-calc > .main > #first_row {

}

.ccm-calc > .main > div > #delete {
    width: 300px;
    background-color: red;
    color: white;
}

.ccm-calc > .main > div > #plus {
}

.ccm-calc > .main > div > #null {
    width: 200px;
}

.ccm-calc > .main > div > #gleich {
    background-color: darkgray;
}

.ccm-calc > .main > div > .calc {
    background-color: lightgray;

}

